<div (click)="closeNav()">
<div class="row">
  <div class="columns large-12">
    <h1>Education</h1>
    <hr>
  </div>
</div>

<div class="row degree">
    <div class="columns large-12">
        <h2>Full Stack Web Developer Nanodegree</h2>
        <h3>Udacity - May 2017</h3>
    </div>
  </div>

<div class="row">
  <div class="columns large-12">
      <h2>MS in Computer Science</h2>
      <h3>University of Illinois, Springfield, IL - Dec 2016</h3>
      <p>GPA: 3.53</p>
      <p><b>Relevant Courses:</b> Web Design, Web Development & Programming, Web Services, Intro To Parallel
      Processing, Computer Network Principles</p>
      
  </div>
</div>

<div class="row">
  <div class="columns large-12">
      <h2>BS in Computer Science</h2>
      <h3>Malla Reddy Institute of Engineering & Technology - May 2015</h3>   
  </div>
</div>
</div>

