<header>
  <div class="row">
    <div class="columns large-1">
      <a id="logo" [routerLink]="'/'">Portfolio</a>
    </div>

    <div class="columns large-11">
      <ul>
        <li>
          <a [routerLink]="'skills'">Skills</a>
        </li>
        <li>
          <a [routerLink]="'projects'">Projects</a>
        </li>
        <li>
          <a [routerLink]="'experience'">Work Experience</a>
        </li>
        <li>
          <a [routerLink]="'education'">Education</a>
        </li>
      </ul>
    </div>
  </div>
</header>