header {
    background:#F1F2F3;
}

ul {
    float:right;
    list-style-type:none;
    margin:0;
    padding:0;
}

ul li {
    display:inline;
    float:left;
}

ul li a {
    color:#3F4648;
    display:block;
    font-weight:700;
    padding:15px 15px;
    text-transform:uppercase;
}

ul li a:hover {
    background: #1ad39a;
}

#logo {
    color: #1ad39a;
    display:block;
    font-weight:900;
    padding: 15px 0;
}