<div class="row aboutRow" (click)="closeNav()">
  <div class="columns large-6 medium-6 small-12 aboutRow">
    <img src="../../assets/ken.jpeg" alt="">
  </div>

  <div class="columns large-6 medium-6 small-12 aboutTitle">
    <h1>Kenneth Silvere</h1>
    <h2 [@aboutAnim]="h2State">Angular Developer</h2>
    <h3 [@aboutAnim]="h3State">Front End Developer</h3>
    <h4 [@aboutAnim]="h4State">JavaScript Developer</h4>
    <h5 [@aboutAnim]="h5State">UI Developer</h5>
  </div>
</div>

<div class="row description">
  <div class="columns large-12 medium-12 small-12 ">
    <p><b>People make a lot of titles.</b></p>
  </div>
</div>

<div class="row closing">
  <div class="columns large-12 medium-12 small-12 ">
    <p>... But the fact is I can get your work done. I make cool websites, front ends,
      user interfaces and experiences, client side web and mobile applications, etc. using
      some of the latest Front End Technologies like Angular, Angular Material, NgRx, etc.
    </p>
  </div>
</div>

<div class="row foot">
  <div class="columns large-12 medium-12 small-12">
    <p>
      <a href="mailto:kennethsilvere93@gmail.com?Subject=Need%20Work" target="_top">kennethsilvere93@gmail.com</a>
      |
      <a href="tel:+12173314235">217-331-4235</a>
      |
      <a href="https://www.linkedin.com/in/kennethsilvere/" target="_blank">Linkedin</a>
    </p>
  </div>
</div>
