h1, h2, h3, h4, h5 {
    background-color:#2A3031;
    border-radius: 20%;
    color: white;
    margin: 20px 0 25px 0;
    padding-left: 10px;
}

h1 {
    background-color: #3F4648;
    font-size: 2.7em;
}

h2{    
    font-size: 1.7em;
    width: 260px;
}

h3{
    font-size: 1.4em;
    width: 230px;
}

h4 {
    font-size: 1.1em;
    width: 190px;
}

h5{
    font-size: 0.8em;
    width: 100px;
}

.aboutRow {
    margin-left: -15px;
    margin-right: -25px;
    padding-left: -15px;
    padding-right: -25px;
}

.aboutTitle {
    margin-left: 15px;
    margin-right: 15px;
    padding-left: 15px;
    padding-right: 15px;
}

.description , .closing {
    background-color:#2A3031;
    margin-top: 27px;
    padding-top: 13px;
    text-align: center;
}

.features li{
    color: white;
}

.foot {
    margin-top: 27px;
    text-align: center;
    font-size: 13px;
}

.foot a {
    color: white;
}

.foot a:hover {
    color: #95989A;
}