<div class="row aboutRow" (click)="closeNav()">
  <div class="columns large-6 medium-6 small-12 aboutRow">
    <img src="../../assets/ken.jpeg" alt="">
  </div>

  <div class="columns large-6 medium-6 small-12 aboutTitle">
    <h1>Kenneth Silvere</h1>
    <h2 [@aboutAnim]="h2State">Full Stack Developer</h2>
    <h3 [@aboutAnim]="h3State">Front End Developer</h3>
    <h4 [@aboutAnim]="h4State">Angular Developer</h4>
    <h5 [@aboutAnim]="h5State">UI Developer</h5>
  </div>
</div>

<div class="row description">
  <div class="columns large-12 medium-12 small-12 ">
    <p><b>I can give myself a couple titles.</b></p>
  </div>
</div>

<div class="row closing">
  <div class="columns large-12 medium-12 small-12 ">
    <p>
      ... But the fact is I can get your web development done.
      I'm a full stack developer with experience in application development of various sizes starting from small web
      apps to enterprise level applications.
    </p>

    <p>
      I've built stand alone web apps with Angular as well as those using dynamic data served from rest apis or
      back-ends like Node
      or Firebase
    </p>

    <p>
      You can view my technical skills and experience in my profile,
      but the best way to see if I'm the right person for you is have a call with me
      and maybe even give me a task to finish as part of the interview process.
    </p>
  </div>
</div>

<div class="row contact-me">
  <div class="columns large-12 medium-12 small-12 ">
    <a target="_blank" href="https://www.linkedin.com/in/kennethsilvere/" class="button secondary">
      <b>LinkedIn</b>
    </a>
    <a target="_blank" href="https://github.com/kennethsilvere" class="button secondary">
      <b>Github</b>
    </a>
    <a target="_blank" href="https://www.upwork.com/fl/kennethsilvere" class="button secondary">
      <b>Need to get work done?</b>
    </a>
  </div>
</div>