<div (click)="closeNav()">
  <div class="row">
    <div class="columns large-12">
      <h1>Professional Work Experience</h1>
      <hr>
    </div>

  </div>

  <div class="row">

    <div class="columns large-6 medium-12 small-12">
      <h2>Angular Developer</h2>
      <h3>Verizon, Silver Spring, MD</h3>
      <h4>May 2019 - Present</h4>

      <span class="tech-used">
        <b>Technologies used here:</b> <i>Angular8, TypeScript, BootStrap, Angular Material, PrimeNG, NodeJS, HTML5,
          CSS3, Git, Gitlab</i>
      </span>
    </div>

    <div class="columns large-6 medium-12 small-12">
      <h2>Full Stack Developer</h2>
      <h3>World Bank, Washington, DC</h3>
      <h4>June 2018 – Feb 2019 </h4>
      <p>
        Part of the core development team building a Geospatial App for the World Bank high authorities, GIS
        experts, basic users, to search, filter, analyze (using tools that we built leveraging other libraries) and
        visualize various indicators, datasets, topics, projects, etc.
      </p>
      <p>
        Collaboratively built various functionalities in the front end, including various Leaflet map analyzations,
        search functionalities, map visualizations, and much more with Angular using Typescript.
      </p>
      <p>
        Used Node JS in the back-end to consume REST data services, process them, filter and re-structure and store the
        data,
        and then in turn using them in API endpoints that I built for the front-end to consume.
      </p>
      <span class="tech-used">
        <b>Technologies used here:</b> <i>Angular 6, Typescript, Node JS, Bootstrap 4, Leaflet, Arc GIS, Mapbox, Google
          Maps API,
          Docker, AWS (for deployment), TFS, GIT, Azure AD, etc.</i>
      </span>
    </div>


    <div class="columns large-6 medium-12 small-12">
      <h2>IT Logistics Technician</h2>
      <h3>International Monetary Fund, Washington, DC</h3>
      <h4>Jan 2018 - May 2018</h4>
    </div>


    <div class="columns large-6 medium-12 small-12">
      <h2>Angular Developer</h2>
      <h3>uStadium</h3>
      <h4>Nov 2017 – Jan 2018</h4>
      <p>Implemented the web version of a sports app with Angular 4,
        which is already available on mobile (search for uStadium in app store or play store).
        Enabled functionalities in the app, made cross component connections, enhanced functionalities to improve user
        experience, fixed issues.</p>
      <p>Helped develop and enhance the front-end of the application, connecting to the back- end through Restful APIs
      </p>

      <span class="tech-used">
        <b>Technologies used here:</b> <i>Angular4, TypeScript, BootStrap4, HTML, SASS, Git, GitHub</i>
      </span>
    </div>


    <div class="columns large-6 medium-12 small-12">
      <h2>Angular Developer</h2>
      <h3>Disaster Accountability Project, Rockville, MD</h3>
      <h4>August 2017 – October 2018</h4>
      <p>
        Helped in building new features for the smart response application (app which lets
        organizations to track and manage donations, services provided based on locations and
        disasters, and much more), enhanced functionalities to improve user experience, fixed
        issues, tested and approved others’ pull requests, etc.
      </p>
      <p>
        Put all the features of Angular 4 into use to help develop and enhance the front-end of the
        application, also worked collaboratively with back-end engineers to assist them in making
        functionality in the back-end as required by the front-end.
      </p>
      <span class="tech-used">
        <b>Technologies used here:</b> <i>Angular4, TypeScript, BootStrap, HTML5, CSS3, Git, Github</i>
      </span>
    </div>


    <div class="columns large-6 medium-12 small-12">
      <h2>Full Stack Developer</h2>
      <h3>System Soft Technologies, Herndon, VA</h3>
      <h4>March 2017 – August 2017</h4>
      <p>
        Helped build and enhance, company portal application used by over 1000 employees. <br>
        Completed 6 months working full time closely with agile development team to develop, test
        and maintain Web based software application. <br>
        Implemented new functionalities, enhanced existing features, fixed bugs, also tested when
        needed. <br>
      </p>
      <span class="tech-used">
        <b>Technologies used here:</b> <i>Java, Spring, Google Web Toolkit, GitLab</i>
      </span>
    </div>

  </div>