h1 {
    background-color: #3F4648;
    color: white;
    font-size: 2em;
    margin: 20px 0 25px 0;
    padding-left: 10px;
}

h2{
    background-color:#2A3031;
    color: white;
    font-size: 1.5em;
    padding-left: 10px;
}