<div class="row">
  <div class="columns large-12">
    <h1>Feel free to go through my work: </h1>
  </div>
</div>

<div class="row">
  <div class="columns large-4 medium-6 small-12">
    <h2>Portfolio</h2>
    <p>
      This very app you're using right now ! <br>
      I made this with Angular 4 using TypeScript. <br>
      Do checkout all it's pages. <br> 
      <b>Skills Used: </b> <i>HTML5, CSS3, Angular4 using TypeScript, Foundation-Flex CSS ( kinda like BootStrap )</i> <br>
      <a href="" target="_blank">View code on Github</a>
    </p>
  </div>

  <div class="columns large-4 medium-6 small-12">
      <h2>Recipe Book</h2>
      <p> Recipe-book with shopping list app, using all the features of Angular 4 in its functioning. <br>
          Allows us to create, edit, delete, maintain recipes and ingredients in the recipe book and
          shopping list <br>
          <b>Skills Used: </b> <i>HTML5, CSS3, Angular4 using TypeScript, Bootstrap</i><br>
        <a href="https://github.com/kennethsilvere/angular4-recipeBook" target="_blank">View code on Github</a> <br>
        <a href="http://kenneth-recipe-book.s3-website-us-east-1.amazonaws.com/" target="_blank">View live app</a>
      </p>
    </div>


    <div class="columns large-4 medium-6 small-12">
        <h2>Deep Dish Pizza Places</h2>
        <p> Responsive web app with a google map shows some good deep dish pizza places in Chicago. <br> 
            <b>Skills Used: </b> <i>KnockoutJS, jQuery, Google Maps API, Yelp API </i><br>
          <a href="https://github.com/kennethsilvere/Deep-Dish-Pizza-Places" target="_blank">View code on Github</a> <br>
          <a href="http://map.kennethsilvere.x10host.com/" target="_blank">View live app</a>
        </p>
      </div>

      <div class="columns large-4 medium-6 small-12">
          <h2>Tech Company Employee List</h2>
          <p> Simple Angular2 app having a side bar list and a view. Clicking on a entry in the list updates the view with the respective details. <br>
              <b>Skills Used: </b> <i>Angular 2, HTML5, CSS3</i><br>
            <a href="https://github.com/kennethsilvere/Tech-Company-Employee-List" target="_blank">View code on Github</a> <br>
            <a href="http://angular2employeeslist-adln.kennethsilvere.x10host.com/" target="_blank">View live app</a>
          </p>
        </div>



    <div class="columns large-4 medium-6 small-12">
        <h2>Multi User Blog</h2>
        <p> A Python app which lets multiple users to view, create, edit, like and delete posts in a blog. <br>
            <b>Skills Used: </b> <i>Python, HTML, CSS</i><br>
          <a href="https://github.com/kennethsilvere/Multi-User-Blog" target="_blank">View code on Github</a> <br>
          <a href="https://multi-user-blog-165905.appspot.com/" target="_blank">View live app</a>
        </p>
      </div>


      <div class="columns large-4 medium-6 small-12">
          <h2>Item Catalog</h2>
          <p> RESTful web app provides a list of items within a variety of categories, a user registration and
              authentication system. <br>
              Registered users can post, edit and delete their own items. <br>
              <b>Skills Used: </b> <i>Python, Flask, Linux Ubuntu (Vagrant), SQLAlchemy, third-party OAuth authentication </i><br>
            <a href="https://github.com/kennethsilvere/Item-Catalog" target="_blank">View code on Github</a> <br>
            <a href="http://ec2-54-172-195-119.compute-1.amazonaws.com/" target="_blank">View live app</a>
          </p>
        </div>

      <div class="columns large-4 medium-6 small-12">
        <h2>Portfolio Site (Old one)</h2>
        <p> A responsive website made with HTML, CSS & Bootstrap that displays images, descriptions and links to each of the completed portfolio projects, which is scalable to devices of various sizes <br>
            <b>Skills Used: </b> <i>HTML5, CSS3, BootStrap</i><br>
          <a href="https://github.com/kennethsilvere/Portfolio-Site" target="_blank">View code on Github</a> <br>
          <a href="http://kennethsilvere.x10host.com/" target="_blank">View live app</a>
        </p>
      </div>
      

      <div class="columns large-4 medium-6 small-12">
          <h2>Movie Trailer Website</h2>
          <p> Project made by writing server-side code in Python to store a list of favorite movies, including box art imagery and a movie trailer URL. This data is served as a web page allowing visitors to review their movies and watch the trailers. <br>
              <b>Skills Used: </b> <i>Python</i><br>
            <a href="https://github.com/kennethsilvere/Movie-Trailer-Website" target="_blank">View code on Github</a> 
          </p>
        </div>

      
      <div class="columns large-4 medium-6 small-12">
          <h2>Tournament Results</h2>
          <p>This project consists of a Python module that uses the PostgreSQL database to keep track of players and matches in a game tournament, and a database schema to store the game matches between players. <br>
              <b>Skills Used: </b> <i>Python, PostgreSQL, Linux Ubuntu</i><br>
            <a href="https://github.com/kennethsilvere/Tournament-Results" target="_blank">View code on Github</a> <br>
          </p>
        </div>
  
</div>