<div class="row">
  <div class="columns large-12">
    <h1>The skills I use to make stuff :</h1>
  </div>
</div>

<div class="row">
  <div class="columns large-4 medium-6 small-12">
    <ul>
      <li><h2>Latest Stack </h2></li>
      <li>Angular 2 / 4</li>
      <li>TypeScript</li>
      <li>BootStrap</li>
      <li>HTML 5</li>
      <li>CSS 3</li>
    </ul>

  </div>
  <div class="columns large-4 medium-6 small-12">
    <ul>
      <li><h2>I use these too</h2></li>
      <li>JavaScript</li>
      <li>jQuery</li>
      <li>KnockoutJS</li>
    </ul>
      
  </div>
  <div class="columns large-4 medium-6 small-12">
    <ul>
      <li><h2>Tools</h2></li>
      <li>Visual Studio Code</li>
      <li>Chrome Developer Tools</li>
      <li>Git</li>      
    </ul>      
  </div>

</div>

<div class="row">
  <div class="columns large-12">
    <ul>
      <li><h2 id="backendBanner">Technologies I worked with in the back-end</h2></li>
      <li>Java</li>
      <li>Spring</li>
      <li>Postgres</li>
      <li>Linux</li>
    </ul>
  </div>

</div>
