h1 {
    font-size: 2em;
    background-color: #3F4648;
    color: white;
    margin: 20px 0 25px 0;
    padding-left: 10px;
}

h2{
    font-size: 1.5em;
    background-color:#2A3031;
}

ul li{
    color: white;
    list-style: none;
}

#backendBanner {
    max-width: 500px;
}