@media screen and (max-width:1020px) {
    app-header{
        display: none;
    }

    app-sidenav {
        display: block;
    }
}

@media screen and (min-width:1021px) {
    app-header{
        display: block;
    }

    app-sidenav {
        display: none;
    }
}