h1 {
    color: white;
    font-size: 2em;
    margin: 20px 0 0px 0;
    padding-left: 10px;
}

input, textarea {
    background-color:#52595B !important;
    border: none !important;
    box-shadow:none !important;
    color:#fff;
    padding:24px;
    width:90%;
}

input::placeholder, textarea::placeholder {
    color:#95989A;
}

ul {
    list-style-type:none;
    margin:0;
}

ul li {
    background-color:#2A3031;
    color:#fff;
    margin: 10px 10px 10px -13px;
    padding:13px;
    text-indent: 30px;
    width:90%;
}

ul li img {
    cursor:pointer;
    float:right;
    width:24px;
}

.closeSpan {
    color: red;
    float: right;
}

.closeSpan:hover {
    cursor: pointer;
}

.disabled {
    cursor: not-allowed;
}

#results {
    background-color:#323839;
    min-height:100vh;
}

#product {
    margin-top:40px;
}

#btn {
    background:#1ad39a;
    color:#fff;
    cursor:pointer;
    display:block;
    font-weight:bold;
    margin-top:20px;
    padding: 15px;
}

#results-label {
    margin:60px 0 20px 30px;
}

@media screen and (max-width: 639px) {
    ul li {
        margin-left: 10px;
    }

    #search {
        margin-top: -50px;
    }

}