<header >

    <div class="row side-nav" >

      <div *ngIf="!showNav" class="columns large-1 medium-1 small-1">
        <button (click)="onShowNav()">&#9776; </button>
      </div>

      <div *ngIf="showNav" class="columns large-2 medium-2 small-5">
          <button (click)="onShowNav()">&#9776;</button>
        <a id="logo" [routerLink]="'/'" (click)="onShowNav()">Portfolio</a>
  
        <ul>
          <li>
            <a [routerLink]="'skills'" (click)="onShowNav()">Skills</a>
          </li>
          <li>
            <a [routerLink]="'projects'" (click)="onShowNav()">Projects</a>
          </li>
          <li>
             <a [routerLink]="'experience'" (click)="onShowNav()">Work Experience</a>
          </li>
          <li>
              <a [routerLink]="'education'" (click)="onShowNav()">Education</a>
            </li>
          <li>
            <a [routerLink]="'products'" (click)="onShowNav()">Sample App</a>
          </li>
  
          <li>
              <a [routerLink]="'aboutapp'" (click)="onShowNav()">About App</a>
          </li>
                  
        </ul>
        </div>
    </div>
  </header>