button:hover {
    cursor: pointer;
}

header {
    background:#F1F2F3;
    padding-left: 10%;
}

ul {
    list-style-type:none;
    margin:0;
    padding:0;
}

ul li {
    display:inline;

}

ul li a {
    color:#3F4648;
    display:block;
    font-weight:700;
    padding:10px 0px;
    text-transform:uppercase;
}

ul li a:hover {
    background: #1ad39a;
}

.hamburgerIcon {
    height: 50px;
}

.side-nav {
    margin-left: -10%;
}

#logo {
    color: #1ad39a;
    display:block;
    font-weight:900;
    padding: 15px 0;
}